<ion-content [fullscreen]="true">
  <h2>Seus eventos: </h2>
<ion-datetime #datetime>
  <ion-buttons slot="buttons">

<ion-button size="large">
  <ion-icon color="danger" slot="icon-only" md="heart"></ion-icon>
</ion-button>

<ion-button size="large">
  <ion-icon slot="icon-only" style="color: yellow" md="star"></ion-icon>
</ion-button>

<ion-button size="large">
  <ion-icon slot="icon-only" style="color: rgb(216, 45, 139)" md="bookmark"></ion-icon>
</ion-button>

<ion-button size="large">
  <ion-icon slot="icon-only"style="color: green;" md="bookmark"></ion-icon>
</ion-button>

<ion-button size="large">
  <ion-icon slot="icon-only" style="color: rgb(45, 163, 202);" md="add-circle-outline"></ion-icon>
</ion-button>

  </ion-buttons>
</ion-datetime>

</ion-content>
